<div data-ng-if="error == true">
    {{msg}};
</div>

<div data-ng-if="error == false">
    <div class="row">
        <div class="col-xs-3">
            <label for="search">Search: </label>
            <input type="text" id="search" data-ng-model="search[col]" />
        </div>

        <div class="col-xs-3">
            <label for="sort">Filter By: </label>
            <select id="sort" data-ng-model="col" data-ng-change="clearSearch()">
                <option value="$">All</option>
                <option data-ng-repeat="(key, result) in data[0]" value="{{key}}">{{key}}</option>
            </select>
        </div>

    </div>

    {{search}}
    
    <br />

    <table class="table table-striped">
        <thead>
            <tr>
                <th data-ng-repeat="(key, result) in data[0]" data-ng-click="orderBy(key)"><a href="">{{key}}</a></th>
            </tr>
        </thead>
        
        <tbody>
            <tr data-ng-repeat="user in data | orderBy:myOrderBy | offset: currentPage*rowPerPage | limitTo: rowPerPage | filter:search">
                <td data-ng-repeat="field in user">{{field}}</td>
            </tr>
        </tbody>
        
        <tfoot>
            <tr>
                <td colspan="{{colNum}}">
                    <ul class="pagination">
                        <li data-ng-class="prevPageDisabled()">
                            <a href="" data-ng-click="prevPage()">Prev</a>
                        </li>
                        <li data-ng-repeat="n in range()" data-ng-class="{active: n == currentPage}" data-ng-click="setPage(n)">
                            <a href="">{{n+1}}</a>
                        </li>
                        <li data-ng-class="nextPageDisabled()">
                            <a href="" data-ng-click="nextPage()">Next</a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
